<div class="container-form">
  <h1>Formulario Agregar estudiante</h1>
  <mat-form-field appearance="fill">
      <mat-label>	Nombre</mat-label>
      <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
      <mat-label>Apellido</mat-label>
      <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
      <mat-label>Activo</mat-label>
      <mat-select>
        <mat-option value="one">True</mat-option>
        <mat-option value="two">False</mat-option>
      </mat-select>
  </mat-form-field>
    <button mat-raised-button color="primary">Guardar</button>
</div>
