<!-- (ngSubmit)="onSubmit(contactForm)" -->
<form class="container-form" (ngSubmit)="onSubmit()" [formGroup]="formStudent">
    <h1>Formulario Agregar estudiante</h1>
    <mat-form-field appearance="fill">
        <mat-label>	Nombre</mat-label>
        <input matInput formControlName="firstname">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="lastname">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>isActivo</mat-label>
        <mat-select formControlName="isActive">
          <mat-option value="True">Activo</mat-option>
          <mat-option value="False">Inactivo</mat-option>
        </mat-select>
    </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
</form>
